body{
    background-color: #FFFFFF;
}
.news-left{
    width: 304px;
    height: 227px;
    display: inline-block;
}
.news-left ul li{
    list-style: none;
    width: 250px;
    height: 56px;
    border: 1px solid #ccc;
    padding-left: 17px;
    border-top: 0px;
    font-size: 16px;
}
.news-left ul li a:hover{
    color: #FF3535;
}
.news-left ul li a{
    text-decoration: none;
    line-height: 56px;
    color: #222222;
}
.static{
    background-color: #304A7E;
    color: #FFFFFF;
    line-height: 56px;
    font-size: 16px;
}
.active a{
    color: #FF3535!important;
}
.news-left ul{
    padding-left: 0px;
}
.news-xia ul{
    padding-left: 0px;
}
.news-xia{
    margin-top: 40px;
    width: 250px;
    height: 286px;
    display: inline-block;
}
.news-xia ul li{
    list-style: none;

}
.da{
    font-size: 20px;
    color: #222;
    font-weight: 800;
    letter-spacing: 1px;
}
.news-right{
    width: 816px;
    height: 1829px;
    float: right;

}
.box{
    width: 816px;
    height: 176px;
    background-color: #f4f4f4;
}
.wrap{
    width: 816px;
    height: 176px;
    padding: 24px 14px;
    border-bottom: thin dashed #ccc;
}
.text1{
    width: 525px;
    float: right;
    margin-right: 20px;
}
.zt1{
    font-size: 16px;
    color: #000000;
    letter-spacing: 2px;
}
.zt2{
    color: #777777;
}
.zt3{
    position: relative;
    bottom: -17px;
}
.zt3 span{
    color: #777777;
    float: right;
}
.fy{
    color: #495056;
    border: 1px solid #E6E6E6;
    padding: 10px 15px 10px 15px;
    background-color: #FAFAFA;
    font-size: 16px;
}
.fy:hover{
    background-color:#A0A0A0 ;
    color: #FFF;
}